
# Build folders
/build/
/bin/
/out/
/cmake-build-*/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE and editor files
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
_deps

# Project specific
file_hashes.txt

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# OS specific files
.DS_Store
Thumbs.db